/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/material-fonts.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/* Roboto font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/roboto/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  width: 600px;
  height: 600px;
  /* overflow: hidden; */
  font-size: 16px !important;
  background: #271332 !important;
  color: white !important;

  /* font-family: 'Roboto', sans-serif; */
  /* font-family: "Roboto", BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
  font-family: 'Roboto';
}

body ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  /* background: #271332; */
}

body ::-webkit-scrollbar-thumb {
  /* background: #5F0098; */
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
}

#remindoro-app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
