.modal {

    background: transparent !important;

    i.left {
        margin-right: 5px;
    }

    label {
        
        i {
            font-size: 1.5em !important;
        }

        span {
            font-size: 1.3em !important;
            margin-left: 5px;
            vertical-align: text-bottom !important;
        }
    }

    &.bottom-sheet {
        height: auto;
        max-height: none !important; 
        overflow: none;

        .modal-content {
            height: auto;
            max-height: 250px; // half the height   
            overflow-y: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .modal-content, .modal-footer {
        background: $modal_bg !important;
        color: $modal_text_color !important;
    }

    .modal-footer {
        border-top: thin solid $border_color !important;
    }

    .form-group {
        border: thin solid $border_color !important;
        padding: 10px 5px;

            div.col {
                height: 3rem;
            }

            input {
                margin-bottom: none !important;
                color: #9e9e9e;
            }
    }

    .disabled {
        color: $theme_shade_3 !important;
    }

    // classes to disable inside range field
    .range-field {
        :disabled {
            &::-webkit-slider-runnable-track {
                background: $theme_shade_3 !important;
            }

            &::-webkit-slider-thumb {
                display: none;
            }
        }
    }

    // classes to disable inside flatpickr
    .flatpickr {
        :disabled {
            &::-webkit-input-placeholder {
               color: $theme_shade_3 !important;
            }    
        }

        // for the reminder state to be shown in disabled state
        .disabled {
            background: transparent !important;
            i {
                color: $theme_shade_3 !important;    
            }
        }
    }

    // repeat time info showing time before slider
    .repeat-time-info {
        font-size: 16px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 50px;
        border: thin solid $theme_shade_2;
    }
    
}