@import "colors";

#remindoros {
    max-height: 420px;
    overflow-y: auto;
}

.remindoro {

    .remindoro-title {

        font-size: 1.5em;

        div[contenteditable] {

            padding: 3px;
            line-height: 1.5em;
            border-bottom: thin solid rgba(160,160,160,0.2);

            &:focus {
                // border: thin solid rgba(160,160,160,0.2);
                border: thin solid $input_highlight_color;
            }
        }
    }
    
    .remindoro-content {

        font-size: 1.3em;

        div[contenteditable]{

            max-height: 200px;
            overflow-y: auto;
            padding: 4px;
            line-height: 1.5em;

            &:focus {
                border: thin solid $input_highlight_color;
            }
        }
    }
    .remindoro-footer {
        padding: 5px;
    }
}