@import "_colors";
@import "_navigator";
@import "_remindoro";

body {

    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        background: #222222;
    }

    ::-webkit-scrollbar-thumb {
        background: #555555;
        -webkit-border-radius: 0;
        -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
    }

    width: 500px;
    height: 500px;
    overflow: none;

    background: $bg_color !important;
    color: $text_color !important;

    i {
        font-size: 2.2em !important;
    }

    .indicator {
        background-color: $theme_color !important;
    }

    .no-padding {
        padding: 0 !important;
    }

    // remove padding top bottom
    .no-padding-vert {
        padding: inherit;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    // remove padding on sides
    .no-padding-hori {
        padding: inherit;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .no-margin {
        margin: 0 !important;
    }

    // remove margin top bottom
    .no-margin-vert {
        margin: inherit;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    // remove margin on sides
    .no-margin-hori {
        margin: inherit;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .modal {
        background: transparent !important;
        .modal-content, .modal-footer {
            background: $modal_bg !important;
            color: $modal_text_color !important;
        }
    }

    // placeholder for contentEditable
    // ref: http://stackoverflow.com/a/24827239/1410291
    [placeholder]:empty:before {
        content: attr(placeholder);
        color: $placeholder_color; 
    }

    [placeholder]:empty:focus:before {
        content: "";
    }
}

